In [14]:
#FILES ## AQUÍ INICIA EL MÓDULO 4 DE IBM

File1=open("/Users/alexishema/Downloads/module4.txt","r")
print(File1.name)
print(File1.mode)
print(File1.read())
#File1.close para cerrar el archivo

/Users/alexishema/Downloads/module4.txt
r
Este es el contenido del archivo .txt

In [19]:
#Lo mejor es maniobrar el archivo con el comando WITH y ya después cerrar el archivo

with open("/Users/alexishema/Downloads/module4.txt","r") as Archivo1:
    contenido=Archivo1.read()
    print(contenido)
print(Archivo1.close())
print(contenido)

Manzana
Pera
Papaya
Mango
None
Manzana
Pera
Papaya
Mango

In [22]:
with open("/Users/alexishema/Downloads/module4.txt","r") as Archivo1:
    contenido=Archivo1.readlines()
    print(contenido)
    
print(contenido[0])

['Manzana\n', 'Pera\n', 'Papaya\n', 'Mango']
Manzana

In [35]:
with open("/Users/alexishema/Downloads/module4.txt","r") as Archivo1:
    contenido=Archivo1.readline()
    print(contenido)
    contenido=Archivo1.readline()
    print(contenido)
print(Archivo1.close())

Manzana

Pera

None

In [42]:
with open("/Users/alexishema/Downloads/module4.txt","r") as Archivo2:
    contenidos1=Archivo2.read(5)
    Archivo2.readline() # Para hacer el salto a la siguiente línea
    print(contenidos1)
    contenidos=Archivo2.read(3)
    print(contenidos)

Manza
Per

In [62]:
#WRITING FILES ## 
frutas=['Platano\n','Manzana\n','Jengibre\n']

with open("/Users/alexishema/Downloads/module4creacion.txt","w") as File13:
    File13.write("Escrito desde Jupyter Notebook\n")
    File13.write("Escrito nuevamente desde Jupyter Notebook\n")
    


with open("/Users/alexishema/Downloads/module4creacion.txt","a") as File13: #"a" para ya no sobreescribir el file
    for line in frutas:
        File13.write(line)

In [65]:
#aquí copiamos el archivo module4creacion a module4creacionCOPIA
with open("/Users/alexishema/Downloads/module4creacion.txt","r") as File13:
    with open("/Users/alexishema/Downloads/module4creacionCOPIA.txt","w") as File14:
        for line in File13:
            File14.write(line)

In [68]:
#PANDAS LOADING DATA
import pandas as pd
csv_archivo="/Users/alexishema/Downloads/california_housing_train.csv"
df=pd.read_csv(csv_archivo)
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [70]:
csv_archivo="/Users/alexishema/Downloads/BASEINSTALADA_ALEXISDRIM.xlsx"
df=pd.read_excel(csv_archivo)
df.head()
#descargar openpyxl en pip para que funcione

,Cuenta,Área,Posición,Nombre
0,Diageo,Trade,Gerente Autoservicios (Todos Menos Walmart),Diana Limon
1,Kellogg,Compras,LA Marketing TSM,Betzabé gabriela Badillo
2,NaN,NaN,LA Marketing Procurement Category Manager,Luis Miguel Milan
3,Herdez,Marketing,Sr. Brand Manager,Gabriela Morales Miranda
4,Jumex,NaN,Gerente Marketing,Veronica Maldonado

In [78]:
#crear un dataframe a partie de un diccionario

diccionario={"Clubes":["Club America","Toluca","Cruz Azul"],"Titulos":[13,11,10],"Popularidad":["Mucha","Poca","Media"]}
diccionario_frame=pd.DataFrame(diccionario)
diccionario_frame.head()

         Clubes  Titulos Popularidad
0  Club America       13       Mucha
1        Toluca       11        Poca
2     Cruz Azul       10       Media

In [79]:
x=pd.DataFrame(diccionario_frame[["Clubes"]])
x.head()

         Clubes
0  Club America
1        Toluca
2     Cruz Azul

In [87]:
diccionario_frame.iloc[0,0] #localizar registros en el DataFrame

'Club America'

In [98]:
#valores únicos
diccionario={"Clubes":["Club America","Toluca","Cruz Azul"],"Titulos":[13,12,11],"Popularidad":["Mucha","Poca","Media"]}
diccionario_frame=pd.DataFrame(diccionario)
diccionario_frame["Titulos"].unique()

array([13, 12, 11])

In [99]:
diccionario_frame["Titulos"]>10

0    True
1    True
2    True
Name: Titulos, dtype: bool

In [103]:
nuevodiccionario=diccionario_frame[diccionario_frame["Titulos"]>11]
nuevodiccionario.head()
nuevodiccionario.to_csv("/Users/alexishema/Downloads/equipospopulares.csv")
nuevodiccionario.head()

         Clubes  Titulos Popularidad
0  Club America       13       Mucha
1        Toluca       12        Poca